{% extends "cornholehome/base.html" %}
{% load crispy_forms_tags %}
{% load static %}




	{% block content%}

<!-- 	<div class="container">
		<div class="row mt-5">
			<div class="col-4">
				



				<div class="d-flex justify-content-end">
				  <a class="btn btn-outline-light" type="button" href="{% url 'choose_league_leaderboard' %}" style="background: #9bda4c; border: none; width: 150px;">
				    PLAY GAME
				  </a>
				</div>	
				<div class="col d-flex justify-content-end align-items-end">
				  <a class="btn btn-outline-light text-wrap" type="button" href="{% url 'total_win_leaderboard' %}" style="margin-top: 410px; background: #9bda4c; border: none; white-space: normal !important; word-wrap: break-word; width: 150px;">
				    TOTAL WIN LEADERBOARD
				  </a>
				</div>				





			</div>
			<div class="col-4 text-center">

			<img src="media/images/purpleboard.png">
			</div>
			<div class="col-4">
				
				<div class="d-flex justify-content-start">
				  <a class="btn btn-outline-light" type="button" href="{% url 'league' %}" style="background: #9bda4c; border: none; width: 150px;">
				    CREATE LEAGUE
				  </a>
				</div>	
				<div class="col d-flex justify-content-start align-items-start">
				  <a class="btn btn-outline-light text-wrap" type="button" href="{% url 'choose_league_leaderboard' %}" style="margin-top: 388px; background: #9bda4c; border: none; white-space: normal !important; word-wrap: break-word; width: 150px;">
				    LEAGUE LEADERBOARD
				  </a>
				</div>	

		
				
			</div>
		</div>




	</div>
 -->

 	<meta name="viewport" content="width=device-width, initial-scale=1.0">  

 	<div class="container mt-5">
 		<div class="row">
 			<div class="col-4">

				<div class="d-flex justify-content-end">
				  <a class="btn btn-outline-light" id= "play-game"type="button" href="{% url 'choose_league' %}">
				    PLAY GAME
				  </a>
				</div>	
				<div class="d-flex justify-content-end"> 
				  <a class="btn btn-outline-light text-wrap" id="total-win-leaderboard" type="button" href="{% url 'total_win_leaderboard' %}">
				    TOTAL WIN LEADERBOARD
				  </a>
				</div>

 			</div>
 			<div class="col-4 text-center">
 				<img id="home-page-cornhole-board" src="static/cornholehome/image/purpleboard.png">
 			</div>
 			<div class="col-4">

				<div class="d-flex justify-content-start">
				  <a class="btn btn-outline-light" id="create-league" type="button" href="{% url 'league' %}" >
				    CREATE LEAGUE
				  </a>
				</div>	
				<div class="d-flex justify-content-start align-items-start">
				  <a class="btn btn-outline-light text-wrap" id="league-leaderboard" type="button" href="{% url 'choose_league_leaderboard' %}">
				    LEAGUE LEADERBOARD
				  </a>
				</div>	


 			</div>
 		</div>
 	</div>

	{% endblock content %}

